@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html{
  scroll-behavior: smooth;
  user-select: none;
}
body {
  font-family: "Bangers", system-ui;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Rubik", sans-serif; */
}
.navbar{
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.hero{
  margin: 20px;
  /* background-image: url('../../public/american-green-travel-166umbWL6Ec-unsplash.jpg'); */
  background-image: url('../../public/iskra-photography-AtRYCQGiJ_w-unsplash.jpg');
  /* background-position: center bottom; */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero::before {
  content: '';
  position: absolute;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
  z-index: 0;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Make sure your content appears above the overlay */
.hero > * {
  position: relative;
  z-index: 1;
}
